body{
    font-family: 'Nunito', sans-serif;
    background-color: #faf6f0;
    color: #3d2914;
}

.navbar-brand {
  font-family: 'Fredoka', cursive;
  font-size: 24px;
  color: #3d2914;
}

.nav-link {
  color: #5a5a5a;
  font-weight: 500;
  padding: 15px 30px;
  border-radius: 18px;
  transition: 0.3s;
  margin: 5px;
}

.nav-link:hover {
  color: #000;
  text-decoration: underline;
  transform: scale(1.05);
  background-color: #e6b84a;
}

.active-nav {
  background-color: #e6b84a;
  color: #3d2914;
  font-weight: 600;
}

.section-title {
  margin-bottom: 20px;
  font-family: 'Fredoka', cursive;
  color: #3d2914;
}

.text{
    text-decoration: underline;
    text-decoration-color: #e6b84a;
    font-family: 'Fredoka', cursive;
    color: #3d2914;
}

.custom-table {
  border: 3px solid #5c4033;
}

.custom-table th {
  background-color: #c47b5b;
  color: white;
}

.menu-list {
  list-style: none;
  padding-left: 0;
}

.menu-list li {
  padding: 8px 0;
  border-bottom: 1px dotted #c47b5b;
}

footer{
    background-color: #3d2914;
    color: #faf6f0;
    padding: 30px 0;
}

footer a {
    color: #e6b84a;
    text-decoration: none;
}

.custom-navbar {
  background-color: #faf6f0;
  padding: 10px 0;
  border-bottom: 4px solid #e6b84a;
  max-width: 1500px;
  margin: auto;
  position: sticky;
  top: 0;
  z-index: 1000;
}
