body {
    font-family: 'Nunito', sans-serif;
    background-color: #faf6f0;
    color: #3d2914;
}

.section-title {
    margin-bottom: 20px;
    font-family: 'Fredoka', cursive;
}

h3 {
    font-family: 'Fredoka', cursive;
    text-decoration: underline;
    text-decoration-color: #e6b84a;
}

h4 {
    font-family: 'Fredoka', cursive;
    margin-bottom: 10px;
}
.custom-card {
    background-color: white;
    padding: 20px;
    border: 3px solid #8fa68a;
    border-radius: 20px;
    margin: 15px;
    transition: 0.3s;
}

.custom-card:hover {
    transform: scale(1.05);
}

.hours-list {
    list-style: none;
    padding-left: 0;
}

.hours-list li {
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
    border-bottom: 1px solid rgba(61, 41, 20, 0.2);
}

footer {
    background-color: #3d2914;
    color: #faf6f0;
    padding: 30px 0;
}

footer a {
    color: #e6b84a;
    text-decoration: none;
}

.custom-navbar {
  background-color: #faf6f0;
  padding: 10px 0;
  border-bottom: 4px solid #e6b84a;
  max-width: 1500px;
  margin: auto;
  position: sticky;
  top: 0;
  z-index: 1000;

}

.navbar-brand {
  font-family: 'Fredoka', cursive;
  font-size: 24px;
  color: #3d2914;
}

.nav-link {
  color: #5a5a5a;
  font-weight: 500;
  padding: 15px 30px;
  border-radius: 18px;
  transition: 0.3s;
  margin: 5px;
}

.nav-link:hover {
  color: #000; 
  text-decoration: underline;
  transform: scale(1.05);
  background-color: #e6b84a;
}

.active-nav {
  background-color: #e6b84a;
  color: #3d2914;
  font-weight: 600;
}